.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 2px solid #001;
}

.item{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4f4;
    border: 1px solid #dddd;
    text-align: center;
}

header,footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}